/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body{overflow-x: hidden;}
h1, h2, h3 {
  font-family: 'Pacifico', cursive;
}

@media only screen and (max-width: 900px) {
  .hide-on-ipad {
    display: none;
  }
  #about-me {
    display: none;
  }
  #about-me-mobile {
    display: block;
  }
  #about-me-info {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .work-container {
    margin-bottom: 75%;
    overflow: visible;
  }
  h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .hide-on-mobile {
    display: none;
  }
  #about-me {
    display: none;
  }
  #about-me-mobile {
    display: block;
  }
  #about-me-info {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
}
@media only screen and (min-width: 900px) {
  #about-me-mobile {
    display: none;
  }
}
.headers {}
.headers:hover{
  text-decoration: underline;
}
.jumbo-thumbnail {
    height: 150px;
    width: 200px;
}
.jumbo-thumbnail img {
    top: 53%;
    max-width: 20%;
}
.slick-slide {
   max-height: 600px;
}

.slick-slide img {
   max-height: 600px;
}
.slick-prev:before, .slick-next:before {
    color: #0095ff !important;
}
.work-image {
  max-width:100%;
  max-height:100%;
}
#facebook-photo {
  border-radius: 50%;
  border-style: solid;
  float: left;
  margin: 5px 10px 0px 0px;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
#user-name {
  margin-top: 15px;
  padding-right: 10px;
  color: #666;
}
